#enlace {
  color: blueviolet;
  text-align: justify;
}
.footer {
  color: beige;
}
h1 {
  color: rgb(119, 29, 29);
}
h2 {
  color: rgb(6, 56, 6);
}
.menu {
  background-color: rgb(207, 207, 195);
}
.menu li {
  list-style-type: style none;
  padding: 15px;
  font: bold;
  display: inline-block;
  border: #5b7a97;
}
p {
  color: rgb(40, 79, 110);
  text-align: justify;
}
.Page1 {
  background-image: url("../images/fpagina1.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(168, 163, 163);
  padding: 20px;
  border-radius: 10px;
}
.parrafo1 {
  background-image: url("../images/fparrafo1.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(107, 95, 95);
  padding: 20px;
  border-radius: 10px;
}
.parrafo2 {
  background-image: url("../images/fparrafo2.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(145, 131, 131);
  padding: 20px;
  border-radius: 10px;
}
.recetas {
  background-image: url("../images/frecetas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rock {
  background-image: url("/images/frock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: justify;
}

table, th, td {
  border: 1px solid rgb(176, 148, 189);
  border-collapse: collapse;
  padding: 10px;
  color: rgb(31, 10, 53);
}
  .viajes {
    background-image: url("../images/fviajes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
